name: Test

on:
  pull_request:
  push:
  workflow_call:

jobs:
  test:
    name: Test parser
    runs-on: ${{matrix.os}}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-14]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up tree-sitter
        uses: tree-sitter/setup-action/cli@v2
        with:
          tree-sitter-ref: v0.23.0
      - name: Run tests
        uses: tree-sitter/parser-test-action@v2
        with:
          generate: false
          abi-version: 14
          test-rust: true
          # test-node: true
          # test-python: true
          # test-go: true
          # test-swift: true
